.colorButtons {
  display: block;
  margin: 20px 0;
}

canvas {
  cursor: crosshair;
}

div#sidebar {
  width: 150px;
  padding: 20px 20px;
}

canvas#canvas {
  left: 250px;
  top: 100px;
}

.btn {
  margin-bottom: 10px;
  width: 100%;
}
input {
  width: 100%;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 10px;
}

.toolsButtons .btn {
  width: 48%;
}

.sizeButtons .btn {
  width: 48%;
}

.center {
  display: flex;
  justify-content: center;
}

.colorpicker {
  background: transparent;
  height: 40px;
}